**Combine csv files into one hdf5 dataset. Location coordinates are added.**

In [0]:
!pip install -U tables
!pip install pandarallel
!pip install holidays
import pandas as pd
import numpy as np
import json
import os
import pandarallel

Requirement already up-to-date: tables in /home/ubuntu/anaconda3/lib/python3.6/site-packages (3.6.1)
Requirement already satisfied, skipping upgrade: numexpr>=2.6.2 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from tables) (2.7.0)
Requirement already satisfied, skipping upgrade: numpy>=1.9.3 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from tables) (1.16.4)
Requirement already satisfied: pandarallel in /home/ubuntu/anaconda3/lib/python3.6/site-packages (1.4.1)
Requirement already satisfied: dill in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from pandarallel) (0.3.1.1)
Requirement already satisfied: holidays in /home/ubuntu/anaconda3/lib/python3.6/site-packages (0.9.11)
Requirement already satisfied: six in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from holidays) (1.12.0)
Requirement already satisfied: python-dateutil in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from holidays) (2.7.3)

In [0]:
# from google.colab import drive
# drive.mount('/content/gdrive')

In [0]:
dataset_root = os.path.expanduser('~/TaxiData')

In [0]:
cx_map = json.load(open(os.path.join(dataset_root, 'cx.json')))
cy_map = json.load(open(os.path.join(dataset_root, 'cy.json')))
cx_map = {int(k): v for k, v in cx_map.items()}
cy_map = {int(k): v for k, v in cy_map.items()}

In [0]:
# compute central coordinates
print(np.array([v for k,v in cx_map.items() if k < 264]).mean())
print(np.array([v for k,v in cy_map.items() if k < 264]).mean())

-73.93129805178539
40.72586769315081

In [0]:
def load_all(root):
  with open(os.path.join(root, 'manifest.txt')) as f:
    files = f.readlines()
  files = map(lambda filename: os.path.join(root, filename.strip()), files)
  frames = list(map(pd.read_csv, files))
  dataset = pd.concat(frames, ignore_index=True)
  return dataset

In [0]:
dataset = load_all(dataset_root)
print(dataset)
dataset.to_hdf(os.path.join(dataset_root, 'data.h5'),'df')

          VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
0                1  2017-07-30 00:20:56   2017-07-30 00:48:20
1                1  2017-07-30 00:30:28   2017-07-30 00:48:10
2                2  2017-07-30 00:20:08   2017-07-30 00:23:58
3                2  2017-07-30 00:29:00   2017-07-30 00:32:40
4                2  2017-07-30 00:41:55   2017-07-30 01:08:30
5                2  2017-07-30 00:20:09   2017-07-30 00:24:50
6                2  2017-07-30 00:29:11   2017-07-30 00:47:57
7                2  2017-07-30 00:07:08   2017-07-30 00:13:03
8                2  2017-07-30 00:20:49   2017-07-30 00:32:17
9                2  2017-07-30 00:34:52   2017-07-30 00:38:17
10               2  2017-07-30 00:41:34   2017-07-30 00:48:15
11               2  2017-07-30 00:49:44   2017-07-30 01:22:53
12               1  2017-07-30 00:19:46   2017-07-30 00:37:33
13               1  2017-07-30 00:38:41   2017-07-30 00:58:02
14               1  2017-07-30 00:02:41   2017-07-30 00:29:29
15               1  2017-07-30 00:07:49   2017-07-30 00:16:19
16               1  2017-07-30 00:21:57   2017-07-30 00:41:11
17               2  2017-07-30 00:12:06   2017-07-30 00:21:43
18               2  2017-07-30 00:46:17   2017-07-30 00:51:50
19               2  2017-07-30 00:39:20   2017-07-30 00:49:29
20               2  2017-07-30 00:50:41   2017-07-30 00:51:16
21               2  2017-07-30 00:05:58   2017-07-30 00:09:14
22               1  2017-07-30 00:09:04   2017-07-30 00:14:47
23               1  2017-07-30 00:16:11   2017-07-30 00:23:12
24               1  2017-07-30 00:49:09   2017-07-30 01:02:41
25               2  2017-07-30 00:36:17   2017-07-30 00:44:03
26               1  2017-07-30 00:30:07   2017-07-30 00:40:36
27               1  2017-07-30 00:43:22   2017-07-30 00:46:10
28               1  2017-07-30 00:51:37   2017-07-30 00:56:45
29               2  2017-07-30 00:01:32   2017-07-30 00:18:53
...            ...                  ...                   ...
67302272         1  2017-07-30 00:14:13   2017-07-30 00:19:37
67302273         1  2017-07-30 00:20:48   2017-07-30 00:26:18
67302274         1  2017-07-30 00:48:44   2017-07-30 00:51:41
67302275         1  2017-07-30 00:13:40   2017-07-30 00:23:18
67302276         1  2017-07-30 00:26:29   2017-07-30 00:28:33
67302277         1  2017-07-30 00:32:11   2017-07-30 00:37:27
67302278         1  2017-07-30 00:52:07   2017-07-30 01:02:47
67302279         2  2017-07-30 00:40:37   2017-07-30 00:45:57
67302280         2  2017-07-30 00:50:15   2017-07-30 01:26:40
67302281         2  2017-07-30 00:15:57   2017-07-30 00:34:30
67302282         2  2017-07-30 00:38:00   2017-07-30 00:53:34
67302283         1  2017-07-30 00:10:12   2017-07-30 00:23:34
67302284         1  2017-07-30 00:29:38   2017-07-30 00:41:04
67302285         1  2017-07-30 00:46:04   2017-07-30 00:51:14
67302286         2  2017-07-30 00:27:26   2017-07-30 00:31:30
67302287         2  2017-07-30 00:33:45   2017-07-30 00:43:52
67302288         2  2017-07-30 00:46:23   2017-07-30 01:05:32
67302289         2  2017-07-30 00:12:36   2017-07-30 00:27:19
67302290         2  2017-07-30 00:28:46   2017-07-30 00:31:07
67302291         2  2017-07-30 00:33:33   2017-07-30 00:37:42
67302292         2  2017-07-30 00:42:30   2017-07-30 01:09:10
67302293         2  2017-07-30 00:11:27   2017-07-30 00:20:30
67302294         2  2017-07-30 00:32:37   2017-07-30 00:43:03
67302295         2  2017-07-30 00:52:57   2017-07-30 00:59:17
67302296         1  2017-07-30 00:41:20   2017-07-30 00:48:21
67302297         2  2017-07-30 00:08:34   2017-07-30 00:39:31
67302298         2  2017-07-30 00:48:45   2017-07-30 00:57:58
67302299         2  2017-07-30 00:02:14   2017-07-30 00:08:32
67302300         2  2017-07-30 00:09:31   2017-07-30 00:30:49
67302301         2  2017-07-30 00:33:44   2017-07-30 01:15:21

          passenger_count  PULocationID  DOLocationID  payment_type
0                       1           138           265             2
1                       1           161             7             1
2                       5           164           161             2
3                       5           229           233             1
4                       5           137           244             2
5                       1            48            43             2
6                       1           163           158             1
7                       5           234           137             1
8                       5           234           186             2
9                       5           186           164             1
10                      5           234            79             1
11                      5            79            62             1
12                      1           170           148             1
13                      1           148           246             1
14                      1           138            16             2
15                      1           162           230             2
16                      1           230           243             1
17                      2            68           107             1
18                      2            79           113             2
19                      1           113           186             1
20                      1           186           186             2
21                      1           263           141             2
22                      1           170           162             2
23                      1           162           170             2
24                      1            79           186             2
25                      1           263           170             1
26                      1            48           229             1
27                      1           229           141             2
28                      1           236           239             2
29                      5            87            68             2
...                   ...           ...           ...           ...
67302272                2           166           238             1
67302273                1           238            41             1
67302274                1            48           162             2
67302275                4           249           186             1
67302276                3           164           100             1
67302277                2           100            48             1
67302278                1            90           114             1
67302279                1           107            79             2
67302280                1            79           189             1
67302281                6           137           148             1
67302282                6           148           170             1
67302283                1            90           209             1
67302284                1            88           114             1
67302285                1           249            68             1
67302286                1           261            87             2
67302287                1            87            79             1
67302288                1            79            79             1
67302289                2            79            12             2
67302290                2            12            87             2
67302291                2            87           209             2
67302292                2            87           143             1
67302293                5           234           249             1
67302294                5           158           113             1
67302295                5            79           137             1
67302296                4           114           125             1
67302297                5            50           223             1
67302298                5           223           226             2
67302299                1           144           148             2
67302300                1           148           158             1
67302301                1           158           265             2

[67302302 rows x 7 columns]

In [0]:
dataset['tpep_pickup_datetime'] = pd.to_datetime(dataset['tpep_pickup_datetime'])
dataset['tpep_dropoff_datetime'] = pd.to_datetime(dataset['tpep_dropoff_datetime'])

In [0]:
dataset.drop_duplicates(inplace=True)
dataset.dropna(inplace=True)
dataset.drop(dataset.loc[dataset['tpep_pickup_datetime'] >= dataset['tpep_dropoff_datetime']].index, inplace=True)

In [0]:
dataset.drop(dataset.loc[dataset['tpep_pickup_datetime'].dt.year < 2017].index, inplace=True)
dataset.drop(dataset.loc[dataset['tpep_dropoff_datetime'].dt.year < 2017].index, inplace=True)

In [0]:
print(dataset['tpep_pickup_datetime'].min())
print(dataset['tpep_pickup_datetime'].max())
print(dataset['tpep_dropoff_datetime'].min())
print(dataset['tpep_dropoff_datetime'].max())

2017-01-01 00:00:00
2017-07-31 00:00:00
2017-01-01 00:00:00
2017-07-31 23:54:24

In [0]:
dataset['PULocationX'] = dataset['PULocationID'].map(lambda v: cx_map[v])
dataset['PULocationY'] = dataset['PULocationID'].map(lambda v: cy_map[v])
dataset['DOLocationX'] = dataset['DOLocationID'].map(lambda v: cx_map[v])
dataset['DOLocationY'] = dataset['DOLocationID'].map(lambda v: cy_map[v])

In [0]:
# load from disk
dataset = pd.read_hdf(os.path.join(dataset_root, 'data.h5'))

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,payment_type,PULocationX,PULocationY,DOLocationX,DOLocationY,snow,rain,isHoliday
0,1,2017-07-30 00:20:56,2017-07-30 00:48:20,1,138,265,2,-73.873629,40.774376,-73.931298,40.725868,0.0,0.0,0
1,1,2017-07-30 00:30:28,2017-07-30 00:48:10,1,161,7,1,-73.977698,40.758028,-73.919694,40.761493,0.0,0.0,0
2,2,2017-07-30 00:20:08,2017-07-30 00:23:58,5,164,161,2,-73.985157,40.748575,-73.977698,40.758028,0.0,0.0,0
3,2,2017-07-30 00:29:00,2017-07-30 00:32:40,5,229,233,1,-73.965146,40.756729,-73.970443,40.749914,0.0,0.0,0
4,2,2017-07-30 00:41:55,2017-07-30 01:08:30,5,137,244,2,-73.976494,40.740439,-73.941399,40.841709,0.0,0.0,0
5,2,2017-07-30 00:20:09,2017-07-30 00:24:50,1,48,43,2,-73.989845,40.762253,-73.965554,40.782478,0.0,0.0,0
6,2,2017-07-30 00:29:11,2017-07-30 00:47:57,1,163,158,1,-73.977569,40.764421,-74.008984,40.735035,0.0,0.0,0
7,2,2017-07-30 00:07:08,2017-07-30 00:13:03,5,234,137,1,-73.990458,40.740337,-73.976494,40.740439,0.0,0.0,0
8,2,2017-07-30 00:20:49,2017-07-30 00:32:17,5,234,186,2,-73.990458,40.740337,-73.992438,40.748497,0.0,0.0,0
9,2,2017-07-30 00:34:52,2017-07-30 00:38:17,5,186,164,1,-73.992438,40.748497,-73.985157,40.748575,0.0,0.0,0
10,2,2017-07-30 00:41:34,2017-07-30 00:48:15,5,234,79,1,-73.990458,40.740337,-73.985937,40.727620,0.0,0.0,0
11,2,2017-07-30 00:49:44,2017-07-30 01:22:53,5,79,62,1,-73.985937,40.727620,-73.948789,40.666540,0.0,0.0,0
12,1,2017-07-30 00:19:46,2017-07-30 00:37:33,1,170,148,1,-73.978492,40.747746,-73.990896,40.718938,0.0,0.0,0
13,1,2017-07-30 00:38:41,2017-07-30 00:58:02,1,148,246,1,-73.990896,40.718938,-74.004015,40.753309,0.0,0.0,0
14,1,2017-07-30 00:02:41,2017-07-30 00:29:29,1,138,16,2,-73.873629,40.774376,-73.773422,40.762738,0.0,0.0,0
15,1,2017-07-30 00:07:49,2017-07-30 00:16:19,1,162,230,2,-73.972356,40.756688,-73.984196,40.759818,0.0,0.0,0
16,1,2017-07-30 00:21:57,2017-07-30 00:41:11,1,230,243,1,-73.984196,40.759818,-73.932831,40.857108,0.0,0.0,0
17,2,2017-07-30 00:12:06,2017-07-30 00:21:43,2,68,107,1,-73.999917,40.748427,-73.984052,40.736824,0.0,0.0,0
18,2,2017-07-30 00:46:17,2017-07-30 00:51:50,2,79,113,2,-73.985937,40.727620,-73.994305,40.732579,0.0,0.0,0
19,2,2017-07-30 00:39:20,2017-07-30 00:49:29,1,113,186,1,-73.994305,40.732579,-73.992438,40.748497,0.0,0.0,0
20,2,2017-07-30 00:50:41,2017-07-30 00:51:16,1,186,186,2,-73.992438,40.748497,-73.992438,40.748497,0.0,0.0,0
21,2,2017-07-30 00:05:58,2017-07-30 00:09:14,1,263,141,2,-73.951010,40.778766,-73.959635,40.766948,0.0,0.0,0
22,1,2017-07-30 00:09:04,2017-07-30 00:14:47,1,170,162,2,-73.978492,40.747746,-73.972356,40.756688,0.0,0.0,0
23,1,2017-07-30 00:16:11,2017-07-30 00:23:12,1,162,170,2,-73.972356,40.756688,-73.978492,40.747746,0.0,0.0,0
24,1,2017-07-30 00:49:09,2017-07-30 01:02:41,1,79,186,2,-73.985937,40.727620,-73.992438,40.748497,0.0,0.0,0
25,2,2017-07-30 00:36:17,2017-07-30 00:44:03,1,263,170,1,-73.951010,40.778766,-73.978492,40.747746,0.0,0.0,0
26,1,2017-07-30 00:30:07,2017-07-30 00:40:36,1,48,229,1,-73.989845,40.762253,-73.965146,40.756729,0.0,0.0,0
27,1,2017-07-30 00:43:22,2017-07-30 00:46:10,1,229,141,2,-73.965146,40.756729,-73.959635,40.766948,0.0,0.0,0
28,1,2017-07-30 00:51:37,2017-07-30 00:56:45,1,236,239,2,-73.957012,40.780436,-73.978633,40.783962,0.0,0.0,0
29,2,2017-07-30 00:01:32,2017-07-30 00:18:53,5,87,68,2,-74.007496,40.706809,-73.999917,40.748427,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67302272,1,2017-07-30 00:14:13,2017-07-30 00:19:37,2,166,238,1,-73.961764,40.809457,-73.973049,40.791705,0.0,0.0,0
67302273,1,2017-07-30 00:20:48,2017-07-30 00:26:18,1,238,41,1,-73.973049,40.791705,-73.951292,40.804334,0.0,0.0,0
67302274,1,2017-07-30 00:48:44,2017-07-30 00:51:41,1,48,162,2,-73.989845,40.762253,-73.972356,40.756688,0.0,0.0,0
67302275,1,2017-07-30 00:13:40,2017-07-30 00:23:18,4,249,186,1,-74.002875,40.734576,-73.992438,40.748497,0.0,0.0,0
67302276,1,2017-07-30 00:26:29,2017-07-30 00:28:33,3,164,100,1,-73.985157,40.748575,-73.988786,40.753513,0.0,0.0,0
67302277,1,2017-07-30 00:32:11,2017-07-30 00:37:27,2,100,48,1,-73.988786,40.753513,-73.989845,40.762253,0.0,0.0,0
67302278,1,2017-07-30 00:52:07,2017-07-30 01:02:47,1,90,114,1,-73.996972,40.742279,-73.997380,40.728340,0.0,0.0,0
67302279,2,2017-07-30 00:40:37,2017-07-30 00:45:57,1,107,79,2,-73.984052,40.736824,-73.985937,40.727620,0.0,0.0,0
67302280,2,2017-07-30 00:50:15,2017-07-30 01:26:40,1,79,189,1,-73.985937,40.727620,-73.967587,40.677636,0.0,0.0,0
67302281,2,2017-07-30 00:15:57,2017-07-30 00:34:30,6,137,148,1,-73.976494,40.740439,-73.990896,40.718938,0.0,0.0,0
67302282,2,2017-07-30 00:38:00,2017-07-30 00:53:34,6,148,170,1,-73.990896,40.718938,-73.978492,40.747746,0.0,0.0,0
67302283,1,2017-07-30 00:10:12,2017-07-30 00:23:34,1,90,209,1,-73.996972,40.742279,-74.003667,40.709074,0.0,0.0,0
67302284,1,2017-07-30 00:29:38,2017-07-30 00:41:04,1,88,114,1,-74.011515,40.703358,-73.997380,40.728340,0.0,0.0,0
67302285,1,2017-07-30 00:46:04,2017-07-30 00:51:14,1,249,68,1,-74.002875,40.734576,-73.999917,40.748427,0.0,0.0,0
67302286,2,2017-07-30 00:27:26,2017-07-30 00:31:30,1,261,87,2,-74.013024,40.709139,-74.007496,40.706809,0.0,0.0,0
67302287,2,2017-07-30 00:33:45,2017-07-30 00:43:52,1,87,79,1,-74.007496,40.706809,-73.985937,40.727620,0.0,0.0,0
67302288,2,2017-07-30 00:46:23,2017-07-30 01:05:32,1,79,79,1,-73.985937,40.727620,-73.985937,40.727620,0.0,0.0,0
67302289,2,2017-07-30 00:12:36,2017-07-30 00:27:19,2,79,12,2,-73.985937,40.727620,-74.015558,40.702943,0.0,0.0,0
67302290,2,2017-07-30 00:28:46,2017-07-30 00:31:07,2,12,87,2,-74.015558,40.702943,-74.007496,40.706809,0.0,0.0,0
67302291,2,2017-07-30 00:33:33,2017-07-30 00:37:42,2,87,209,2,-74.007496,40.706809,-74.003667,40.709074,0.0,0.0,0
67302292,2,2017-07-30 00:42:30,2017-07-30 01:09:10,2,87,143,1,-74.007496,40.706809,-73.987645,40.775965,0.0,0.0,0
67302293,2,2017-07-30 00:11:27,2017-07-30 00:20:30,5,234,249,1,-73.990458,40.740337,-74.002875,40.734576,0.0,0.0,0
67302294,2,2017-07-30 00:32:37,2017-07-30 00:43:03,5,158,113,1,-74.008984,40.735035,-73.994305,40.732579,0.0,0.0,0
67302295,2,2017-07-30 00:52:57,2017-07-30 00:59:17,5,79,137,1,-73.985937,40.727620,-73.976494,40.740439,0.0,0.0,0
67302296,1,2017-07-30 00:41:20,2017-07-30 00:48:21,4,114,125,1,-73.997380,40.728340,-74.007486,40.726290,0.0,0.0,0
67302297,2,2017-07-30 00:08:34,2017-07-30 00:39:31,5,50,223,1,-73.995135,40.766238,-73.905408,40.777427,0.0,0.0,0
67302298,2,2017-07-30 00:48:45,2017-07-30 00:57:58,5,223,226,2,-73.905408,40.777427,-73.924673,40.737699,0.0,0.0,0
67302299,2,2017-07-30 00:02:14,2017-07-30 00:08:32,1,144,148,2,-73.996919,40.720889,-73.990896,40.718938,0.0,0.0,0
67302300,2,2017-07-30 00:09:31,2017-07-30 00:30:49,1,148,158,1,-73.990896,40.718938,-74.008984,40.735035,0.0,0.0,0
67302301,2,2017-07-30 00:33:44,2017-07-30 01:15:21,1,158,265,2,-74.008984,40.735035,-73.931298,40.725868,0.0,0.0,0

In [0]:
import holidays
# import holidays
us_holidays = holidays.UnitedStates()
def is_holiday(x):
  if x in us_holidays:
    return 1
  else:
    return 0

In [0]:
import pandarallel
pandarallel.pandarallel.initialize(progress_bar=True)

INFO: Pandarallel will run on 48 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [0]:
weather_df = pd.read_csv('/home/ubuntu/weather.csv', parse_dates=['date_time'])
weather_dict = {}
for i, row in weather_df.iterrows():
    time = row['date_time']
    year = time.year
    month = time.month
    day = time.day
    hour = time.hour
    snow = row['totalSnow_cm']
    rain = row['precipMM']
    weather_dict[(year,month,day,hour)] = (snow,rain)

In [0]:
def get_weather(x):
  time = x
  data = weather_dict[(time.year,time.month,time.day,time.hour)]
  return data
    
def parallel_func(x):
  snow, rain = get_weather(x)
  return snow, rain, is_holiday(x)

In [0]:
# pandarallel.pandarallel.initialize(progress_bar=True)
dataset['snow'], dataset['rain'], dataset['isHoliday'] = zip(*dataset['tpep_pickup_datetime'].parallel_apply(parallel_func))

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1400767), Label(value='0 / 1400767

In [0]:
# save to disk
dataset.to_hdf(os.path.join(dataset_root, 'data.h5'), key='df')

In [0]:
# upload hdf5 file to S3
import boto3
s3 = boto3.client('s3', aws_access_key_id='AWS_ACCESS_KEY', aws_secret_access_key='AWS_SECRET_KEY')
with open(os.path.join(dataset_root, 'data.h5'), "rb") as f:
    s3.upload_fileobj(f, "project", "data.h5")

In [0]:
# load from disk
dataset = pd.read_hdf(os.path.join(dataset_root, 'data.h5'))

In [0]:
subset = dataset.sample(n=1000000)

In [0]:
# show the sampled dataset
subset

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,payment_type,PULocationX,PULocationY,DOLocationX,DOLocationY,snow,rain,isHoliday
35144951,1,2017-04-20 11:07:57,2017-04-20 11:17:24,1,164,161,1,-73.985157,40.748575,-73.977698,40.758028,0.0,0.0,0
39747208,2,2017-05-01 19:42:59,2017-05-01 19:45:17,1,234,113,2,-73.990458,40.740337,-73.994305,40.732579,0.0,0.0,0
52921370,1,2017-06-14 00:09:25,2017-06-14 00:15:24,2,161,230,1,-73.977698,40.758028,-73.984196,40.759818,0.0,0.0,0
45911450,1,2017-05-20 15:34:14,2017-05-20 15:40:24,1,125,211,1,-74.007486,40.726290,-74.001538,40.723888,0.0,0.0,0
8067041,1,2017-01-26 17:56:07,2017-01-26 18:03:48,2,100,230,2,-73.988786,40.753513,-73.984196,40.759818,0.0,0.0,0
6704448,1,2017-01-14 15:08:56,2017-01-14 15:12:35,1,236,237,1,-73.957012,40.780436,-73.965634,40.768615,0.9,0.3,0
62423487,2,2017-07-13 14:10:28,2017-07-13 14:32:44,1,161,79,2,-73.977698,40.758028,-73.985937,40.727620,0.0,1.5,0
50009581,2,2017-06-01 16:24:09,2017-06-01 16:37:04,2,68,211,1,-73.999917,40.748427,-74.001538,40.723888,0.0,0.0,0
50029427,1,2017-06-01 17:35:47,2017-06-01 17:43:09,2,151,239,1,-73.968168,40.797962,-73.978633,40.783962,0.0,0.0,0
41838662,1,2017-05-07 18:55:17,2017-05-07 19:09:19,1,261,170,2,-74.013024,40.709139,-73.978492,40.747746,0.0,0.0,0
56202368,2,2017-06-23 08:59:35,2017-06-23 09:10:02,1,164,170,1,-73.985157,40.748575,-73.978492,40.747746,0.0,0.4,0
51920200,1,2017-06-07 21:43:10,2017-06-07 21:46:09,1,229,141,1,-73.965146,40.756729,-73.959635,40.766948,0.0,0.0,0
22090890,1,2017-03-07 20:57:02,2017-03-07 21:00:01,1,74,74,1,-73.937346,40.801170,-73.937346,40.801170,0.0,0.0,0
25519246,1,2017-03-19 13:17:49,2017-03-19 13:42:53,1,170,138,1,-73.978492,40.747746,-73.873629,40.774376,0.0,0.0,0
30786995,1,2017-04-05 07:31:49,2017-04-05 07:37:41,1,141,233,1,-73.959635,40.766948,-73.970443,40.749914,0.0,0.0,0
28203214,2,2017-03-28 14:47:46,2017-03-28 14:50:28,1,263,236,1,-73.951010,40.778766,-73.957012,40.780436,0.0,0.6,0
40904012,2,2017-05-05 07:31:56,2017-05-05 07:40:45,1,236,162,2,-73.957012,40.780436,-73.972356,40.756688,0.0,0.0,0
54010595,2,2017-06-17 01:00:38,2017-06-17 01:02:51,1,114,211,1,-73.997380,40.728340,-74.001538,40.723888,0.0,0.0,0
4149445,2,2017-01-05 14:31:25,2017-01-05 14:43:03,1,143,161,2,-73.987645,40.775965,-73.977698,40.758028,0.0,0.0,0
64110305,1,2017-07-19 10:40:01,2017-07-19 10:47:50,1,170,137,1,-73.978492,40.747746,-73.976494,40.740439,0.0,0.3,0
8672428,1,2017-01-28 09:53:23,2017-01-28 10:08:03,1,170,246,1,-73.978492,40.747746,-74.004015,40.753309,0.0,0.0,0
63726269,2,2017-07-18 00:02:38,2017-07-18 00:13:02,1,246,107,1,-74.004015,40.753309,-73.984052,40.736824,0.0,0.0,0
48524755,2,2017-05-28 03:44:26,2017-05-28 03:52:54,1,114,48,2,-73.997380,40.728340,-73.989845,40.762253,0.0,0.0,0
39435654,1,2017-04-30 14:47:31,2017-04-30 14:58:46,1,263,74,1,-73.951010,40.778766,-73.937346,40.801170,0.0,0.0,0
24215410,2,2017-03-15 15:34:11,2017-03-15 15:49:40,2,211,79,1,-74.001538,40.723888,-73.985937,40.727620,0.1,0.2,0
56067051,1,2017-06-22 22:03:03,2017-06-22 22:09:25,1,249,186,1,-74.002875,40.734576,-73.992438,40.748497,0.0,0.0,0
67037493,2,2017-07-29 01:39:03,2017-07-29 01:47:36,2,68,79,1,-73.999917,40.748427,-73.985937,40.727620,0.0,0.0,0
6653043,1,2017-01-14 16:40:44,2017-01-14 16:52:50,1,234,186,1,-73.990458,40.740337,-73.992438,40.748497,0.9,0.1,0
24826257,1,2017-03-17 13:45:04,2017-03-17 14:43:39,1,132,256,1,-73.786533,40.646985,-73.959905,40.710880,0.0,0.0,0
35908848,1,2017-04-22 09:26:45,2017-04-22 09:38:39,4,48,142,2,-73.989845,40.762253,-73.981533,40.773634,0.0,0.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62068041,1,2017-07-12 12:37:11,2017-07-12 12:53:01,1,161,140,1,-73.977698,40.758028,-73.954739,40.765484,0.0,0.0,0
54953739,1,2017-06-19 19:41:55,2017-06-19 19:53:18,1,234,48,2,-73.990458,40.740337,-73.989845,40.762253,0.0,0.0,0
63526937,2,2017-07-17 11:16:59,2017-07-17 11:39:21,1,161,45,1,-73.977698,40.758028,-73.998152,40.712459,0.0,0.0,0
27587936,1,2017-03-25 00:49:01,2017-03-25 00:52:59,1,48,142,1,-73.989845,40.762253,-73.981533,40.773634,0.0,0.0,0
52483909,1,2017-06-12 13:16:05,2017-06-12 13:54:26,1,163,166,1,-73.977569,40.764421,-73.961764,40.809457,0.0,0.0,0
14197521,1,2017-02-06 21:00:18,2017-02-06 21:12:03,1,88,113,1,-74.011515,40.703358,-73.994305,40.732579,0.0,0.0,0
26138074,2,2017-03-25 20:21:55,2017-03-25 20:30:19,6,13,231,1,-74.016079,40.712038,-74.007880,40.717773,0.0,0.0,0
55694077,1,2017-06-21 22:54:14,2017-06-21 22:58:03,1,231,87,1,-74.007880,40.717773,-74.007496,40.706809,0.0,0.0,0
59357103,2,2017-07-01 14:29:05,2017-07-01 15:18:28,1,132,7,2,-73.786533,40.646985,-73.919694,40.761493,0.0,2.6,0
7562676,2,2017-01-25 09:33:45,2017-01-25 09:44:12,1,236,239,1,-73.957012,40.780436,-73.978633,40.783962,0.0,0.0,0
50323106,2,2017-06-02 11:04:28,2017-06-02 11:15:51,6,141,263,2,-73.959635,40.766948,-73.951010,40.778766,0.0,0.0,0
61740652,1,2017-07-11 11:44:11,2017-07-11 12:06:44,1,141,224,2,-73.959635,40.766948,-73.976598,40.731821,0.0,0.0,0
52782324,1,2017-06-13 17:08:03,2017-06-13 17:27:15,1,164,161,1,-73.985157,40.748575,-73.977698,40.758028,0.0,0.0,0
177556,2,2017-07-30 18:22:28,2017-07-30 18:46:07,1,107,181,1,-73.984052,40.736824,-73.981414,40.670374,0.0,0.0,0
28086744,2,2017-03-28 08:29:42,2017-03-28 09:01:12,1,33,170,1,-73.995250,40.695798,-73.978492,40.747746,0.0,0.5,0
36569970,1,2017-04-24 06:29:27,2017-04-24 06:31:21,1,75,263,2,-73.945750,40.790011,-73.951010,40.778766,0.0,0.0,0
23880177,1,2017-03-13 19:21:37,2017-03-13 19:28:30,1,100,170,3,-73.988786,40.753513,-73.978492,40.747746,0.1,0.0,0
31648981,2,2017-04-07 14:21:30,2017-04-07 14:39:37,1,137,161,1,-73.976494,40.740439,-73.977698,40.758028,0.0,0.0,0
15251324,1,2017-02-16 23:03:21,2017-02-16 23:10:50,1,161,163,1,-73.977698,40.758028,-73.977569,40.764421,0.0,0.0,0
7976429,2,2017-01-26 12:25:49,2017-01-26 12:47:11,3,164,161,2,-73.985157,40.748575,-73.977698,40.758028,0.0,0.0,0
63024084,1,2017-07-15 13:28:34,2017-07-15 13:36:01,1,140,233,1,-73.954739,40.765484,-73.970443,40.749914,0.0,0.0,0
11373572,1,2017-02-04 23:30:10,2017-02-04 23:44:44,1,237,113,1,-73.965634,40.768615,-73.994305,40.732579,0.0,0.0,0
54426920,2,2017-06-18 11:57:10,2017-06-18 12:03:52,1,144,87,1,-73.996919,40.720889,-74.007496,40.706809,0.0,0.0,0
17117895,2,2017-02-22 23:45:30,2017-02-23 00:23:25,1,132,163,1,-73.786533,40.646985,-73.977569,40.764421,0.0,0.0,0
4152745,1,2017-01-05 14:42:24,2017-01-05 14:53:29,1,239,143,1,-73.978633,40.783962,-73.987645,40.775965,0.0,0.0,0
20314904,2,2017-03-03 07:57:52,2017-03-03 08:07:42,5,48,161,2,-73.989845,40.762253,-73.977698,40.758028,0.0,0.0,0
44575239,1,2017-05-10 15:31:00,2017-05-10 15:41:11,1,107,170,1,-73.984052,40.736824,-73.978492,40.747746,0.0,0.0,0
1131597,2,2017-01-17 08:24:00,2017-01-17 08:29:22,5,229,162,1,-73.965146,40.756729,-73.972356,40.756688,0.0,0.0,0
53067295,2,2017-06-14 12:48:56,2017-06-14 12:59:36,1,238,142,1,-73.973049,40.791705,-73.981533,40.773634,0.0,0.0,0
17491964,1,2017-02-24 06:19:26,2017-02-24 06:24:52,1,237,162,1,-73.965634,40.768615,-73.972356,40.756688,0.0,0.0,0